:root {
  font-family: 'Inter', serif;
  font-style: normal;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.5;
}
body{
  margin: 0;
}
.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 800px;
}
.total-random-scenario {
  background: linear-gradient(180deg, teal 0%, #274A42 0.01%, teal 100%);
  /* background: linear-gradient(180deg, #587770 0%, #274A42 0.01%, #157E67 100%); */
  text-align: center;
  margin: 0 auto;
  padding: 20px 15px;
  max-width: 405px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 800px;
  justify-content: center;
}
.progress-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  max-width: 500px;
  margin: 0 auto;
}
.progress-bar {
  width: 70%;
  height: 20px;
  background-color: #587770;
  border-radius: 10px;
  overflow: hidden;
  margin: 40px;
}
.progress-fill {
  height: 100%;
  background-color: #F6F968;
  transition: width 0.25s; /* Adjust the transition duration for smoother animation */
}

/* STAGES */
.stages-child {
  box-sizing: border-box;
  width: 25%; /* set width to 20% of parent container */
  height: 15px;
  background: #F6F968;
  border: 1px solid #F6F968;
  border-radius: 40px;
}
.stages-child,
.stages-item {
  border: 1px solid #F6F968;
  border-radius: 40px;
  box-sizing: border-box;
  width: 25%; /* set width to 20% of parent container */
  height: 15px;
}
.stages {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  margin: 0.8rem 0;
  width: 80%; /* set width of stages container to 60% of parent container */
}

/* TEXT BEFORE OPTIONS */
.header {
  justify-content: center;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin: 1rem;
  margin-bottom: 0.5rem;
}
.question {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  width: 90%;
  margin: 10px 0 20px 0;
}

/* Buttons */
.next {
  width: 90%;
  height: 40px;
  cursor: pointer;
  border: none;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
  /* background-color: #F6F968; */
  background-color: #F6F968;
  color: #000000e3;
  padding: 10px 20px;
  margin: 20px;
  transition: background-color 0.15s ease;
}
.next:hover {
  /* background-color: rgb(250, 253, 43); */
  background-color: rgb(235, 238, 66);
}

/* Home */
.device-header {
  font-size: 16px;
  color: #F6F968;
  background: #f5f5f54f;
  border-radius: 36px;
  padding: 10px 60px;
  width: 150px;
  text-align: center;
}
.device-icon {
  width: 70%;
  min-width: 170px;
  max-width: 250px;
  margin: 1rem;
  height: auto;
}
.programs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-bottom: 1rem;
  line-height: 1.8;
  width: 100%;
}
.option-title {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.1rem;
}
.option {
  font-size: 1rem;
  padding-bottom: 5px;
  width: 100%;
  display: flex;
  text-decoration: none;
}
.option:hover .option-1 {
  transition: color 0.3s ease;
  color: #F6F968;
  /* color: rgb(252, 255, 99); */
}
.option-text, .option-1  {
  font-weight: lighter;
  flex: 1 1;
  flex-basis: 70%;
}
.option-1 {
  color: white;
  /* font-style: none; */
}
.select-icon {
  max-height: 15px;
  max-width: 10px;
  transform: translateY(50%);
  flex-basis: 30%;
  position: sticky;
  left: 75%;
}
hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  opacity: 0.4;
  margin: 5px 0;
}

/* Progress */
.progress-text {
  display: flex;
  justify-content: center;
  margin: 0 2rem;
}

/* DishType */
.options {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 1rem 0 13rem 0;
  width: 85%;
  flex-grow: 1;
}
/* Media query for larger mobile-screens 411px-no limit */
@media (min-width: 406px) {
  .background, .progress-background, .modal-overlay, .total-random-scenario {
    border-radius: 40px;
  }
  .header {
    font-size: 1.3rem;
  }
  .question {
    font-size: 1.1rem;
  }
  .options {
    font-size: 0.84rem; /* Increase font size for larger screens */
  }
  .next {
    font-size: 0.9rem;
  }
  .socialnorm-text {
    font-size: 0.9rem;
  }
}
/* Media query for normal mobile-screens 281px-410px */
@media (max-width: 405px) {
  .options {
    font-size: 0.8rem; /* Decrease font size for smaller screens */
  }
  .next {
    font-size: 0.8rem;
  }
  .socialnorm-text {
    font-size: 0.8rem;
  }
}
/* Media query for smaller mobile-screens 0px-280px */
@media (max-width: 280px) {
  .header {
    font-size: 1rem;
  }
  .question {
    font-size: 0.9rem;
  }
  .options {
    font-size: 0.7rem; /* Decrease font size for smaller screens */
  }
  .next {
    font-size: 0.7rem;
  }
  .socialnorm-text {
    font-size: 0.7rem;
  }
}
.dish-type-label {
  text-align: center;
  margin-left: 0.3rem;
  width: 200px;
  font-size: 16px;
  color: whitesmoke;
  cursor: pointer;
}
[class^="dish-type-checkbox"] {
  margin: 0.2rem;
}

/* DirtLevel */
[class^="dirt-level-icon"]:nth-child(n+1):nth-child(-n+9), .dish-type-icon{
  margin-left: 5px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.dirt-level-radio {
  justify-content: center;
  margin: 4px;
}
.container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  padding: 2px;
  border-radius: 5px;
  transition: background-color 0.2s ease, transform 0.1s ease;
}
.program-container {
  justify-content: right;
}
.dirt-level-label {
  color: whitesmoke;
  text-align: center;
  margin: 0.2rem;
  width: 200px;
}
.dirt-level, .eco-program-selection-label {
  cursor: pointer;
  font-size: 16px;
}
/* ADD Here */

/* ProgramEcoSymbol */
.eco-program-selection-label {
  text-align: center;
  margin: 5px 0;
  flex-basis: 75%;
}
.eco-program-selection-icon1 {
  flex-basis: 10%;
  margin: 0 0 18px 5px; 
}
.info {
  word-spacing: 0.1rem;
}

/* ProgramSocialNorm */
.socialnorm-text {
  font-size: 15px;
  color: #1c4747;
  border-radius: 30px;
  display: flex;
  text-align: start;
  align-items: flex-start;
  width: 90%;
  padding: 5px;
  background: #effb97;
  margin: 10px;
}
.socialnorm-text p {
  margin: 10px;
}
.socialnorm-text-icon {
  margin: 11px -3px 0px 11px;
  height: 20px;
}

/* Form 1 */
.form-container {
  display: flex;
  flex-direction: column;
  color: #000000e3;
  border-radius: 25px;
  margin: 15px 10px;
  padding: 20px 25px;
  text-align: center;
  /* background: white; */
  background: rgba(255,255,255,0.9);
}
.img-container {
  width: 85%;
  padding: 20px 15px;
}
.blur-container {
  background: rgba(256,256,256,0.77);
}
.form-img {
  border-radius: 20px;
  width: 100%;
}
.form-header {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  margin: 10px;
}
.form-p {
  color: #000000e3;
  font-size: 16px;
  margin: 8px;
}
.italic {
  font-style: italic;
}
.last {
  margin-bottom: 1rem;
}
.questionnaire {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.accept {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accept input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
/* Form 2 */
.age, .email {
  margin: 0.2rem 0.8rem;
  justify-content: left;
  display: flex;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: left;
}
input[type=number] {
  margin: 10px;
  width: 85%;
  height: 30px;
  border: 1px solid lightblue;
  outline: none;
  transition: border-color 0.3s ease;
  border-radius: 10px;
  padding: 5px 0px 5px 15px;
}
input[type="number"]:focus, input[type="email"]:focus {
border-color: teal;
box-shadow: 0 0 5px lightblue; 
}
input[type="number"]::placeholder, input[type="number"]:focus::placeholder {
color: #999;
}
.email {
  font-size: 15px;
  margin-bottom: 5px;
}
input[type="email"] {
  margin: 20px auto;
  margin-bottom: 10px;
  height: 28px;
  padding: 8px;
  border-radius: 10px;
  width: 90%;
  border: 1px solid lightblue;
  outline: none;
  transition: border-color 0.3s ease;
}
input[type="email"]::placeholder, input[type="email"]:focus::placeholder  {
  color: #999;
}
.form-subheader {
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  font-weight: bold;
  font-size: 1rem;
  /* background: #F6F968; */
  background: #F6F968;
  color: #000000e3;
  border-radius: 10px;
  width: 95%;
  padding: 10px 25px;
  margin: 20px auto;
}
.bold {
  font-weight: bold;
}
fieldset {
  border: none;
  text-align: left;
  font-size: 0.85rem;
}
legend {
  font-weight: bold;
  font-size: 16px;
}
/* Add general styles for the radio button and label */
.radio-label {
  display: inline-flex;
  margin: 4px 0;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}
/* Style for the label when hovering over */
.radio-label:hover {
  color: teal; /* Change the color to your desired hover color */
  transition: color 0.2s ease;
}

/* Modal style */
.modal-overlay {
  position: fixed;
  top: 0%;
  left: 50%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  max-width: 405px;
  min-height: 800px;
  transform: translate(-50%);
  padding: 10px 15px;
}
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 375px;
  width: 70%;
  margin: 0 auto;
  padding: 15px;
  background: #F6F968;
  border-radius: 20px;
  color: #000000e3;
  text-align: center;
}
/* ThankYou */
.thank-you-background {
  text-align: center;
  margin: 1rem;
}
.thankyou-img {
  width: 200px;
  height: auto;
  margin: 0 auto 20px auto;
}
.thankyou-text-bold {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.thankyou-text {
  margin-top: 0;
  font-size: 16px;
}
.free {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.free-download, .contact-email {
  color: whitesmoke;
  text-decoration: none;
  background-color: teal;
  margin: 30px auto;
  padding: 11px 16px;
  border-radius: 25px;
  width: 35%;
  max-height: 25px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.contact-email {
  display: block;
  text-decoration: none;
  padding: 11px 18px;
  width: 75%;
  margin-bottom: 5px;
}
.free-download:hover, .contact-email:hover {
  background-color: rgb(5, 100, 100);
  cursor: pointer; /* Optionally, change the cursor to a hand pointer */
}
/* Instructions */
.instructions-p {
  text-align: center;
  color: #000000e3;
  font-size: 1rem;
  background: rgba(255,255,255,0.9);
  margin: 20px 10px 50px 10px;
  padding: 20px 35px;
  border-radius: 1rem;
}
.instruct-text {
  margin: 0.6rem 0 3rem 0;
}
.instruct-note {
  font-size: 0.9rem;
  margin-top: 10px;
  /* color: #888;
   */
  color: rgb(5, 100, 100);
}
.instructions-border {
  border: 2px solid #ccc;
  border-radius: 20px;
  padding: 15px;
  margin-bottom: 20px;
}
input[type="radio"] {
  flex-basis: 10%;
  margin: 5px;
}
.unanswered-question {
  border: 1px solid rgb(255, 41, 41);
  box-shadow: 0 4px 8px rgba(255, 41, 41,0.6);
}
.mandatory {
  font-size: 16px;
  padding: 0 30px;
}
ol {
  list-style: none;
  padding: 0;
}
.step-icon {
  margin-bottom: 15px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ccc; /* Change this color to your desired color */
  color: #000000e3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 auto;
}
.caution-text {
  color: teal;
  background: #b2ccf5;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  margin: 30px auto 25px auto;
}

/* Checkboxes Interaction */

/* Reset default checkbox styles */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 17px;
  width: 17px;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}
/* Custom checkbox label styles */
.checkbox-label {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}
/* Style the tick mark inside the checkbox */
input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 3px;
  height: 9px;
  border: solid whitesmoke;
  border-width: 0 3px 3px 0;
  transition: border-color 0.2s ease;
  border-radius: 2px;
}
/* Custom checkbox styles for Accepting Terms */
input[type="checkbox"]:checked {
  background-color: teal;
  border-color: teal;
}
/* Change label color when checkbox is checked */
input[type="checkbox"]:checked + .accept-label {
  color: teal; /* Set the label color when the checkbox is checked */
}
/* Change input border color on hover */
input[type="checkbox"]:hover {
  border-color: teal;
}
.dish-type input[type="checkbox"]:checked::after {
  border: solid teal;
  border-width: 0 3px 3px 0;
}
/* Custom Type checkboxes */
.dish-type input[type="checkbox"]:checked {
  background-color: #F6F968;
  /* background-color: rgb(252, 255, 99); */
  border-color: #F6F968;
  /* border-color: rgb(252, 255, 99); */
}
/* Change input border color on hover */
.dish-type input[type="checkbox"]:hover {
  border-color: #F6F968;
  /* border-color: rgb(252, 255, 99); */
}

/* Radio-button Interaction */

/* Selected label color */
.container.selected .dirt-level-label, .container.selected .eco-program-selection-label, .selected .dish-type-label {
  color: #F6F968;
  /* color: rgb(252, 255, 99); */
}
.radio-label.selected {
  color: teal;
}
/* Hide the default radio button */
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}
/* Create a custom radio button */
input[type="radio"]::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  /* border: 1px solid #ccc; */
  border: 1px solid #aaa;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 5px;
}
.dirt-level-label:hover, .eco-program-selection-label:hover, .dish-type-label:hover {
  color: #F6F968; 
  /* color: rgb(252, 255, 99); */
  transition: color 0.2s ease;
}
/* Style the custom radio button when it's checked */
input[type="radio"]:checked::before {
  background-color: #F6F968; 
  /* background-color: rgb(252, 255, 99); */
  box-shadow: inset 0 0 0 2px #157E67;
}
.radio-label input[type="radio"]:checked::before {
  background-color: teal; /* Change this to the desired color */
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.9);
}

