:root {
  font-family: 'Inter', serif;
  font-style: normal;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 1.5;
}
body{
  margin: 0;
}
.background {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 800px;
}
.total-random-scenario {
  background: linear-gradient(180deg, #587770 0%, #274A42 0.01%, #157E67 100%);
  text-align: center;
  margin: 0 auto;
  padding: 20px 15px;
  max-width: 405px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 800px;
  justify-content: center;
}
.progress-background {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* STAGES */
.stages-child {
  box-sizing: border-box;
  width: 25%; /* set width to 20% of parent container */
  height: 15px;
  background: #F6F968;
  border: 1px solid #F6F968;
  border-radius: 40px;
}
.stages-child,
.stages-item {
  border: 1px solid #F6F968;
  border-radius: 40px;
  box-sizing: border-box;
  width: 25%; /* set width to 20% of parent container */
  height: 15px;
}
.stages {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  margin: 0.8rem 0;
  width: 80%; /* set width of stages container to 60% of parent container */
}

/* TEXT BEFORE OPTIONS */
.header {
  justify-content: center;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4rem;
  margin: 1rem;
  margin-bottom: 0.5rem;
}
.question {
  font-weight: 500;
  flex-wrap: wrap;
  width: 90%;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 1rem;
}

/* Buttons */
.next {
  width: 90%;
  height: 38px;
  cursor: pointer;
  background: #F6F968;
  border: none;
  mix-blend-mode: normal;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.25);
  border-radius: 34px;
}

/* Home */
.device-header {
  font-size: 0.8rem;
  color: #F6F968;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 36px;
  padding: 8px 20px;
}
.device-icon {
  width: 70%;
  min-width: 170px;
  max-width: 250px;
  margin: 1rem;
  height: auto;
}
.programs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-bottom: 1rem;
  line-height: 1.8;
  width: 100%;
}
.option-title {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.1rem;
}
.option {
  font-size: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 0.1px solid white;
  width: 100%;
  display: flex;
  text-decoration: none;
}
.option-text, .option-1  {
  font-weight: lighter;
  flex: 1 1;
  flex-basis: 70%;
}
.option-1 {
  color: white;
  /* font-style: none; */
}
.select-icon {
  max-height: 15px;
  max-width: 10px;
  transform: translateY(50%);
  flex-basis: 30%;
  position: sticky;
  left: 75%;
}

/* Progress */
.progress-text {
  display: flex;
  justify-content: center;
  margin: 0 2rem;
}

/* DishType */
.options {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 1rem 0 13rem 0;
  width: 85%;
}
/* Media query for larger mobile-screens 411px-no limit */
@media (min-width: 406px) {
  .background, .progress-background, .modal-overlay, .total-random-scenario {
    border-radius: 40px;
  }
  .header {
    font-size: 1.3rem;
  }
  .question {
    font-size: 1.1rem;
  }
  .options {
    font-size: 0.84rem; /* Increase font size for larger screens */
  }
  .next {
    font-size: 0.9rem;
  }
  .socialnorm-text {
    font-size: 0.9rem;
  }
}
/* Media query for normal mobile-screens 281px-410px */
@media (max-width: 405px) {
  .options {
    font-size: 0.8rem; /* Decrease font size for smaller screens */
  }
  .next {
    font-size: 0.8rem;
  }
  .socialnorm-text {
    font-size: 0.8rem;
  }
}
/* Media query for smaller mobile-screens 0px-280px */
@media (max-width: 280px) {
  .header {
    font-size: 1rem;
  }
  .question {
    font-size: 0.9rem;
  }
  .options {
    font-size: 0.7rem; /* Decrease font size for smaller screens */
  }
  .next {
    font-size: 0.7rem;
  }
  .socialnorm-text {
    font-size: 0.7rem;
  }
}
.dish-type-label {
  text-align: center;
  margin-left: 0.3rem;
  width: 200px;
}
[class^="dish-type-checkbox"] {
  margin: 0.2rem;
}

/* DirtLevel */
[class^="dirt-level-icon"]:nth-child(n+1):nth-child(-n+9), .dish-type-icon{
  max-height: 1.5rem; 
  margin-left: 5px;
}
.dirt-level-radio {
  justify-content: center;
}
.container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
}
.program-container {
  justify-content: right;
}
.dirt-level-label {
  text-align: center;
  margin: 0.2rem;
  width: 200px;
}

/* ProgramEcoSymbol */
.eco-program-selection-label {
  text-align: center;
  margin: 0.3rem;
  flex-basis: 75%;
}
.eco-program-selection-icon1 {
  flex-basis: 10%;
  margin-left: 1rem;
}
.info {
  word-spacing: 0.1rem;
}

/* ProgramSocialNorm */
.socialnorm-text {
  font-size: 0.8rem;
  color: black;
  background: #f3f3ab;
  border-radius: 20px;
  display: flex;
  text-align: start;
  width: 85%;
  padding: 0.6rem;
  margin-bottom: 0.5rem;
}
.socialnorm-text p {
  margin: 0.5rem 0.2rem 0.5rem 0;
}
.socialnorm-text-icon {
  margin: 0.5rem 0.3rem 0.4rem 0.5rem;
  text-align: start;
  height: 1%;
}
/* Form 1 */
.form-container {
  display: flex;
  flex-direction: column;
  background: white;
  color: black;
  border-radius: 25px;
  margin: 15px 10px;
  padding: 20px 15px;
}
.img-container {
  width: 90%;
}
.form-img {
  border-radius: 20px;
  width: 100%;
}
.form-header {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  margin: 10px;
}
.form-p {
  text-align: left;
  color: black;
  flex-wrap: wrap;
  font-size: 0.85rem;
  margin: 0.5rem; 
}
.italic {
  font-style: italic;
}
.last {
  margin-bottom: 1rem;
}
.questionnaire {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* Form 2 */
.age, .email {
  margin: 0.2rem 0.8rem;
  justify-content: left;
  display: flex;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: justify;
}
input[type=number] {
  margin-left: 0.8rem;
  width: 50px;
}
input[type=email] {
  margin: 1.3rem 0 1rem 0.8rem;
  width: 80%;
  padding: 6px;
}
.form-subheader {
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  font-weight: bold;
  font-size: 1rem;
  background: #F6F968;
  color: black;
  border-radius: 100px;
  width: 85%;
  padding: 10px 25px;
  margin: 1rem auto;
}
.bold {
  font-weight: bold;
}
fieldset {
  border: none;
  text-align: left;
  font-size: 0.85rem;
}
legend {
  font-weight: bold;
  font-size: 0.9rem;
}

/* Modal style */
.modal-overlay {
  position: fixed;
  top: 0%;
  left: 50%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  max-width: 405px;
  min-height: 800px;
  transform: translate(-50%);
  padding: 10px 15px;
}
.modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 375px;
  width: 70%;
  margin: 0 auto;
  padding: 15px;
  background: #F6F968;
  border-radius: 20px;
  color: black;
  text-align: center;
}
/* ThankYou */
.progress-background {
  text-align: center;
  margin: 1rem;
}
.thankyou-img {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}
.thankyou-text-bold {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
.thankyou-text {
  font-size: 16px;
  margin-bottom: 10px;
}
.contact-email {
  display: block;
  color: #f0ffa2;
  text-decoration: none;
  margin: 10px;
}
/* Instructions */
.instructions-p {
  text-align: -webkit-left;
  color: black;
  font-size: 1rem;
  background: white;
  margin: 20px 0 50px 0;
  padding: 20px;
  border-radius: 1rem;
}
.instruct-text {
  margin: 0.6rem 0 3rem 0;
}
.instruct-note {
  font-size: 0.9rem;
}
.instructions-border {
  border: 2px solid #83a46f;
  border-radius: 20px;
  padding: 30px;
}
input[type="radio"] {
  flex-basis: 10%;
  margin: 5px;
}
.unanswered-question {
  border: 2px solid rgb(255, 29, 29);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}